@media only screen and (max-width: 1100px){
    #left{
        margin-left: 70px;
        margin-right: 70px;
    }

    #right{
        margin-left: 70px;
        margin-right: 70px;
    }

    #cover_img{
        display: none;
    }

    main {
        padding-top: 130px;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }
    
}